.contents{
    width: 100%;
    height: 100%;
}

canvas { 
    position:fixed;
    top:0;
    left:0;
    display:block;
}

#body { 
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.logo {
    width: 345px;
}

.menu {
    width: 200px;
}

